@import "colors.rasi"

* {
    background-color: @bg;
    border-color:     @bg;
    text-color:       @fg;
    font: "Go Mono Italic 11";
}
window {
    height:	3.6%;
    width:    100.0000% ;
    padding:  4px ;
    anchor:   north;
    location: north;
    children: [ "horibox" ];
    y-offset: -26;
}
horibox {
    orientation: horizontal;
    children:    [ "entry","listview" ];
}
listview {
    layout:  horizontal;
    spacing: 5px ;
    lines:   100;
}
entry {
    width:  10.0000em ;
    expand: false;
}
element {
    padding: 0px 2px ;
}
element selected {
    background-color: @color1;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
}
element-icon {
    background-color: inherit;
    text-color:       inherit;
}
