@import url("colors.css") ;

* {
    font-family: "Go Mono", monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0;

}

window#waybar {
    background-color: transparent;
}

#middle {
    background-color: @bg;
}

#workspaces button {
    padding: 0 8px;
    color: @fg;
    background-color: transparent;
}

#mpris {
    color: @fg;
    padding: 0 8px;
}

#mpris:hover {
    color: @color6;
}

#mpris.paused {
    color: @color2;
}

#clock{
    padding: 0 8px;
    color: @fg;
}

#tray {
    background-color: transparent;
    padding: 0 8px;
}

#custom-tray-wrapper:hover {
    color: @color4;
    transition: 0.5s
}

